<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag "normalize" %>
  <%= stylesheet_link_tag "style" %>
  <title>株式会社DIVE</title>
</head>
<body>
  <div class="container">
  <header class="header clearfix">
    <nav>
      <ul class="top_menu clearfix" >
        <li><%= link_to 'HOME', home_path %></li>
        <li><%= link_to 'つぶやき一覧', twits_path %></li>
        <li><%= link_to '新規投稿', twits_new_path %></li>
      </ul>
    </nav>
  </header>
  <div class="wrapper clearfix">
  <aside class="side_menu">
    <nav>
      <h1 class="newtitle">新規投稿画面</h1>
        <p class ="createnew">  <%= form_with(model: @twit, local: true ,url: choose_new_or_edit ) do |form| %>
        <% if @twit.errors.any? %>
        <div id="error_explanation">
          <h2>※空白もしくは１４０文字以上です!!<br>
          再度入力をしてください↓↓↓</h2>
        </div>
        <% end %>
        <div class="twit_title">
          <%= form.label :"本文 :" %>
          <%= form.text_field :content %>
        </div>
        <%= form.submit text="投稿します" %>
        <% end %>
    </nav>
  </aside>
  <footer class="footer">
      <p>Dive into Code test application</p>
  </footer>
  </div>
</body>
</html>